*{
    
    list-style:none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.row{
    margin:0px;
}

.nav{
background-color: black;

}
.white{
    width: 100%;
    min-height: 100vh;
    padding:0;    
}

.black{
    width: 100%;
    min-height: 100vh;
    background-color: black;
    padding:0;
}

.last-div{
    min-height: 90vh;
    max-height: 90vh;
}
/* 
nav mobile  */
.wrapp{
    position: fixed;
    top:0;
    overflow: hidden;
    max-width: 100%;
    z-index: 100;
    min-height: 10vh;
    padding: 0;
}

.wrapp img{
    width: 50px;
}

.hamb{
    color:white;
    font-size:50px;
    margin-left: 20px;
    padding:0;
}

.menu {
    display: none;
}

.menu-checkbox:checked ~ .menu {
    display: block;
}
.menu-checkbox:checked ~ .menu {
    display: block;
}
.menu-checkbox {
	opacity: 0;
	position: absolute;
	top: -1000px;
}
.menu li{
    min-height: 40px;
}
.menu li a{
    font-size:20px;
    color:white;
}
.logo-nav{
    position: absolute;
    top:10px;
    left: 40%;
}
/* FIN NAV MOBILE */
/* /HEADER */
.header{
    background-image: url("../assets/affiche-paysage.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.icones{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
}

.icones img{
    height: 40px;
    width: 40px;
}

.logo-header img{
    height: 200px;
    width: 200px;
    margin-top: 40px;
    margin-left: 100px;
}

nav{
    margin-top: 50px;
    margin-right: 100px;
    flex-wrap: wrap; 
    text-align: right;
    line-height: 50px; 
}

nav p{
    color: white;
    font-size: 30px;
    text-transform: uppercase;
}

nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    text-decoration: none;
    color: white;
}

.header-illu{
    background-image: url("../assets/AF537944.jpg");
    background-size: 100% 90vh;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    margin-top:10vh;
    padding: 0;
}

/* fin du header  */
/* THE WEEKND */

.logo{
    height: 35vh;
}

.logo img{
    height: 200px;
    width: 200px;
    margin-top: 40px;
    transform: translateX(-50%);
}
.weeknd-illu{
    width: 100%;
    height: 50vh;
    background-image: url("/assets/theweeknd.jpg");
    background-size: cover;
    padding: 0;
}

.weeknd-illu img{
    width: 100%;
    height: 100%;
}


.weeknd{
    padding-top: 20px;
    background-color: white;
    text-align: center;
}

.weeknd h3{
    color:black;
    font-family: Arial;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom:30px;
}

.weeknd p{
    color:black;
    font-size:15px;
    text-align: left;
}


.title{
    height: 15vh;
}

.title h2{
    font-size: 50px;
    color: lightgray;
    text-transform: uppercase;
}

/* Reveal */

.reveal{
    transform: translateY(15vh);
    opacity: 0;
}

.reveal.revealed{
    transform: translateY(0vh);
    opacity: 1;
    transition: transform 0.5s cubic-bezier(0, 0, 0, 1), opacity 0.5s;
    will-change: transform, opacity;
}

/* FIN THE WEEKEND */
/* DEBUT ALBUM */

.album-container{
    height: 85vh;
}

.img-container{
    height: 85vh;
}

.img-container img{
    height: 60vh;
    margin-left: 150px;
    margin-top: 120px;
}

.flip-card {
    background-color: transparent;
    width: 80px;
    height: 80px;
    perspective: 1000px;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 3s;
    transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.flip-card-front {
    color: black;
}
  
.flip-card-back {
    color: white;
    transform: rotateY(180deg);
}

.afterhours{
    height: 85vh;
}

.afterhours h3{
    text-align: center;
    font-family: Geomancy;
    font-size:70px;
    margin-top:30%;
}

.afterhours p{
    font-size:40px;
    text-align: center;
    margin-top:50px;
}

.afterhours a{
    font-size: 20px;
    
}

.afterhours p:last-child{
    text-align: right;
    margin-right: 10%;
}

.ecouter{
    margin-left: 67%;
}

/* FIN ALBUM */
/* DEBUT NEWS */

.news-container{
    min-height: 85vh;
    justify-content: space-evenly;
    display: flex;
    padding-bottom: 30px;;
}

.instagram_profile{
    margin-top: 40px;
}

.instagram_username{
    color: white;
}

.instagram_gallery{
 
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
  

}

.instagram-sidecar{
    width: 100% !important ;
}

.instagram-sidecar img{
    width: 100% !important;

    
}


.mobile-title{
    font-size:50px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

/* FIN NEWS */
/* DEBUT TOURNEE */

.date-container{
    min-height: 75vh;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.date{
    width: 100%;
    margin-bottom: 10px;
}

.date p{
    font-size:30px;
    margin-bottom: 0px;
}

.dates-link{
    min-height: 10vh;
}

.more-date{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 0;
}

/* FIN TOURNEE */
/* DEBUT SHOP */

.shop{
    display: flex;
    justify-content: space-evenly;
    height: 85vh;
}

.square{
    width: 300px;
    height: 300px;
    background-color: lightgray;
    margin-top:45vh;
    transform: translateY(-50%);
}

/* FIN SHOP */

.footer{
    height: 10vh;
}

.footer p{
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
}

                    /* Admin page */

.background{
    background-color: black;
    width: 100%;
}

.admin-logo img{
    margin-left: 50px;
}

.admin-title{
    height: 20vh;
}

h1{
    font-size: 50px;
    color: white;
    margin-left: 200px;
}

.admin-dates{
    min-height: 60vh;
}

@media (min-width: 768px) {

   
    .instagram-sidecar{
        width: 30% !important;
    }
    .instagram-sidecar:nth-of-type(2){
        margin-left:5%;
        margin-right: 5%;
    }
    .instagram-sidecar img{
        width: 100% !important;
    
        
    }
    .black{
        width: 96%;
    }
    .white{
        width: 96%;
    }
    .nav-link{
        transition: color 0.5s;
    }
    .weeknd{
        background-color: black;
        height: 50vh;
        
    }
    .weeknd p{
        width: 380px;
        color:white;
        text-align: left;
        margin-left: 40px;
    }
    .weeknd h3{
        color:white;
        font-size: 60px;
        margin-bottom: 30px;
    }
    .title h2{
        font-size: 80px;
        line-height:45px;
        padding-right: 60px;
        padding-left: 60px;
    }
    .icones{
        width: 4%;
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 0;
    }
    .icones img{
    margin-left: 50%;
    transform: translateX(-50%);
    }
}

.MultiCarousel { 
    float: left; 
    overflow: hidden; 
    padding: 15px; 
    width: 100%; 
    position:relative;  
    height: 80%;
    transform: translateY(40%);
}
.MultiCarousel .MultiCarousel-inner { 
    transition: 1s ease all; 
    float: left; 
}
.MultiCarousel .MultiCarousel-inner .item { 
    float: left; 
}
.MultiCarousel .MultiCarousel-inner .item > div { 
    text-align: center;
    margin:10px; 
    background:#f1f1f1; 
    color:#666; 
    height: 80%;
}
.MultiCarousel .leftLst, .MultiCarousel .rightLst {
    position:absolute; 
    border-radius:50%;
    top:35%; 
}
.MultiCarousel .leftLst { 
    left:0; 
}
.MultiCarousel .rightLst { 
    right:0; 
}
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { 
    pointer-events: none; 
    background:#ccc; 
}
.container{
    height: 75vh;
    margin-left: 50%;
    transform: translateX(-50%);
    max-width: 90vw !important;
}
.row2{
    height: auto;
    width: 100% !important;
}
.MultiCarousel-inner{
    height: 100%;
    width: 100%;
}
.item{
    height: 50vh;
    
}

.pad15 img{
    width: 100%;
    height: 100%;
}


/* loginpage */

.login-logo{
    height: 10vh;
}

label{
    margin-top: 10px;
    width: 100px;
}
.loginform{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    
}
.submit-button{
    margin-top: 20px;
    
}

.login-wrapp{
    background-color: black;
    color:white;
    width: 100%;
    height: 100vh;
    padding-top:50px;
}

.login-wrapp img{
    height: 30vh;
    margin-left: 50%;
    transform: translateX(-50%);
}

/* admin-page */

.admin-logo{
    padding-top: 20px;
}
.admin-logo img{
    width: 90px;
}

.form{
    width: 100%;
    margin-left: 5%;
    color:white;
    margin-bottom: 20px;
}

.form label{
    margin-left:2%;
    width: auto;
}

.form label:nth-of-type(1){
    margin-left:0%;
}

.addbutton{
    margin-left: 15px;
}

.admin-dates table{
    border:1px solid white;
    width: 90%;
    margin-left: 5%;  
    margin-bottom: 50px;
}

.admin-dates td{
    padding: 10px;    
}

.date-cell{
    width: 30%;
    color:white;
    font-size:25px;
    margin-right:50px;
}
.date-cells a{
    color:white;
    text-decoration: none;
    font-size:50px;
    margin-left:20px;
    margin-right: 10px;
}

.logout{
    width: 15%;
    margin-left: 80%;
    padding-bottom: 60px;
}

.logout a{
    color:white;
    font-size: 30px;
}



@media (min-width: 768px) {
    .admin-dates table{
        border:1px solid white;
        width: 90%;
        margin-left: 5%;  
        margin-bottom: 50px;
    }
    
    .admin-dates td{
        padding: 10px;    
    }
    
    .date-cell{
        width: 30%;
        color:white;
        font-size:25px;
        margin-right:50px;
    }
    .date-cells a{
        color:white;
        text-decoration: none;
        font-size:50px;
        margin-left:100px;
        margin-right: 10px;
    }
}